@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
	.flex-center {
		display: flex;
		align-items: center;
	}
} */

@layer components {
	.flex-center {
		@apply flex items-center;
	}
	.text-gray {
		@apply text-[#606060];
	}
	.anh-ban {
		@apply w-20 h-20 ml-40 mt-3 text-center cursor-pointer bg-green-400;
	}
}
