@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.aspect-16-9 {
		aspect-ratio: 16/9;
	}
}

@layer components {
	.flex-center {
		@apply flex items-center;
	}
	.text-gray-color {
		@apply text-[#606060];
	}
	.text-blue-color {
		@apply text-[#065FD4];
	}
	.anh-ban {
		@apply w-20 h-20 ml-40 mt-3 text-center cursor-pointer bg-green-400;
	}
}

/* .tat::-webkit-scrollbar {
	display: none;
}

.tat {
	-ms-overflow-style: none;
	scrollbar-width: none;
} */
